.joinhead{
    text-align: center;
    color: orange;
    margin: 4.5rem 0rem ;

}


.join{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.joinbox{
    margin: 1rem;
    height: 350px;
    width: 250px;
    padding: 20px;
    display: grid;
}

.joinbox i{
    font-size: 50px;
    color: orange;

    
}

.joinbox button{
    background-color: transparent;
    color: orange;
    border: .1rem solid orange;
    border-radius: .3rem;
    padding: .1rem 1rem;
   
}

.joinbox button:hover{
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
    background-color: orange;
    border: .1rem solid orange;
   
}


@media (max-width:600px) {

    .join{
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;    
    }   
    html p {
        font-size: 1.1rem;
    }
    
}

@media (min-width:600px) {
    .join{
        margin-top: 4.5rem;

    }

}


/*------------ Joinus --------------*/

.joinus{
    margin-top: 20rem;
    text-align: center;
    color: red;
}